* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button {
  font-family: $font-body;
  @include font-size($base-font-size);
}

input,
select {
  border: 1px solid colour(black);
  border-radius: $radius;
  outline: none;
  padding: 0.5rem;
  
  @include mq-max(945px) {
    margin: 0.5rem 0;
    width: 50%;
  }
}

input {
  @include mq-min(945px) {
    flex: 1;
  }
}

.page-header,
.page-section {
  margin: auto;
  width: 95%;
  
  @include mq-min(945px) {
    width: 900px
  }
}

.page-header {
  border-bottom: 2px solid black;
  margin: 0 auto 1rem;
  padding: 1rem 0;
}

.conversion-group {
  display: flex;
  flex-wrap: wrap;
}

.hide {
  display: none;
}

// Invalid input
.invalid {
  background-color: colour(error-light);
  border: 1px solid colour(error);

  &:focus {
    border: 1px solid colour(error);
  }
}