* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button {
  font-family: $font-body;
  @include font-size($base-font-size);
}

input,
select {
  border: 1px solid colour(black);
  border-radius: $radius;
  outline: none;
  padding: 0.5rem;
}

input:focus {
  border: 1px solid colour(accent);
}

p {
  margin: 0.5rem 0;
}

.page-header {
  border-bottom: 2px solid colour(black);
  display: flex;

  @include mq-min-max($small, $medium) {
    input {
      @include center-block(60%, 0);
    }
  }

  @include mq-max($medium) {
    flex-direction: column;
    
    h1 {
      margin-bottom: 1rem;
    }
    
    h1, input {
      text-align: center;
    }
  }
  
  @include mq-min($medium) {
    @include center-block(860px, 0);
    
    justify-content: space-between;
    align-items: center;
  }
}

.page-header,
.page-section {
  padding: 1rem 0;
  
  @include mq-min($medium) {
    @include center-block(860px, 0);
  }

  @include mq-max($small) {
    margin: auto 1rem;
  }
}

.page-section {
  @include mq-max($medium) {
    display: flex;
    flex-direction: column;
  }
  
  @include mq-min-max($small, $medium) {
    @include center-block(60%, 0);
  }
}

.hide {
  display: none;
}